body {
    padding-top: 10px;
  }
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}

header p {
  margin-top: 40px;
  text-align: center;
}
.row .col:nth-child(2) .row:first-child .col {
  text-align: left;
}
.row {
  margin-bottom: 30px;
}
