body {
    padding-top: 10px;
  }
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}

header p {
  margin-top: 40px;
  text-align: center;
  color: orange;
  font-size: 20px;
}
.row .col:nth-child(2) .row:first-child .col {
  text-align: left;
  font-size: 10px;
}
.row {
  margin-bottom: 30px;
}
button {
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 20px;
}
.row img {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  float: right;
}
