body {
    padding-top: 10px;
  }
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}

header p {
  margin-top: 40px;
  text-align: center;
  color: orange;
}
.row .col:nth-child(2) .row:first-child .col {
  text-align: left;
}
.row {
  margin-bottom: 30px;
}
button {
  background-color: lightblue;
  border-radius: 50%;
  width: 80px;
  height: 40px;
  float: left;
  border: 2px solid black;
}
